{# Learn how to use Turbo Streams: https://github.com/symfony/ux-turbo#broadcast-doctrine-entities-update #}
{% block create %}
<turbo-stream action="append" target="gestion_cours">
    <template>
        <div id="{{ 'gestion_cours_' ~ id }}">
            #{{ id }} created
        </div>
    </template>
</turbo-stream>
{% endblock %}

{% block update %}
<turbo-stream action="update" target="gestion_cours_{{ id }}">
    <template>
        #{{ id }} updated
    </template>
</turbo-stream>
{% endblock %}

{% block remove %}
<turbo-stream action="remove" target="gestion_cours_{{ id }}"></turbo-stream>
{% endblock %}
