{% extends 'baseAdmin.html.twig' %}
{% block body %}
{{form_start(f,{'attr': {'novalidate': 'novalidate'}} )}}
           
            <div class="page-body">
             
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div  class="card">
                                        <div class="card-body">
                                            <div class="title-header option-title">
                                                <h5>Add New User</h5>
                                            </div>
                                            

                                            <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane  show active" id="pills-home" role="tabpanel">
                                                    <form class="" method="post">

                                                        <div class="row">
                                                            <div class="mb-4 row align-items-center">
                                                                {{form_row(f.nomAdmin)}}
                                                            </div>
                                                            <div class="mb-4 row align-items-center">
                                                                {{form_row(f.prenomAdmin)}}
                                                            </div>

                                                            <div class="mb-4 row align-items-center">
                                                                {{form_row(f.emailAdmin)}}
                                                            </div>

                                                            <div class="mb-4 row align-items-center">
                                                            {{form_row(f.passwordAdmin.first)}}
                                                            </div>

                                                            <div class="row align-items-center">
                                                            {{form_row(f.passwordAdmin.second)}}
                                                            </div>
                                                            <div class="row align-items-center">
                                                            {{form_row(f.telAdmin)}}
                                                            </div>
                                                            <div class="row align-items-center">
                                                            <label  
                                                                    class="col-lg-2 col-md-3 col-form-label form-label-title">Image</label>
                                                                <div class="col-md-9 col-lg-10">
                                                                   {{form_row(f.imageAdmin)}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                         
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{form_end(f)}}
 {% endblock %}
                