{# templates/newacc.html.twig #}

{% extends 'base2.html.twig' %}

{% block title %}Create a New User{% endblock %}
{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('css/style1.css') }}">
    {% endblock %}
 
{% block content %}
 
    <h1>Create a New User</h1>
    
    {{ form_start(form) }}
        <div>
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </div>
        <div>
            {{ form_label(form.lastname) }}
            {{ form_widget(form.lastname) }}
            {{ form_errors(form.lastname) }}
        </div>
     <div>
    {{ form_label(form.password.first) }}
    {{ form_widget(form.password.first) }}
    {{ form_errors(form.password.first) }}
</div>
<div>
    {{ form_label(form.password.second) }}
    {{ form_widget(form.password.second) }}
    {{ form_errors(form.password.second) }}
</div>


        <div>
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
      
        
        <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
