{# templates/user/update.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Update User{% endblock %}

{% block content %}
    <h1>Update User</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}

    <button type="submit" class="btn btn-primary">Update</button>
    {{ form_end(form) }}
{% endblock %}
